.subscribe__input:focus {
	padding: 5px 10px;
}
.input--fail, .input--success {
	padding: 5px 10px;
}
.subnav {
	border: 1px solid #ccc;
}
.modal input[type='text'], .modal input[type='email'], .modal input[type='password'] {
	padding-top: 5px;
}
input[type='checkbox'] {
	display: inline-block !important;
}
input[type='checkbox'] + label {
	padding: 0 !important;
}
input[type='checkbox'] + label:before {
	display: none !important;
}