$break-medium: 980px
$break-mobile: 768px

body
	position: relative
	font-family: "HelveticaNeueLight", Helvetica, sans-serif
	font-size: 100%
a
	color: #0089a6
	&:hover
		color: #a5509e
.container
	width: 976px
	margin: auto
	@media screen and (max-width: $break-medium)
		width: 768px
	@media screen and (max-width: $break-mobile)
		width: 360px
.header
	font-size: 0.75em
	.header__in
		background: #faf8f5
	.header__top
		position: relative

		padding: 0 53px

		background: #faf8f5

		line-height: 35px
		vertical-align: middle

		+clr
		@media screen and (max-width: $break-medium)
			padding: 0 15px
	.header__description
		float: left

		color: #666
	.header__nav
		float: right
	.header__notes
		position: absolute
		right: 260px
		@media screen and (max-width: $break-medium)
			right: 222px
		@media screen and (max-width: $break-mobile)
			left: 30px
		a
			color: #666
			&:before
				content: ''
				display: inline-block
				position: relative
				left: -5px
				+s(note)
	.header__bottom
		position: relative
		padding: 20px 53px

		background: #fff

		@media screen and (max-width: $break-medium)
			padding: 20px 15px

		+clr
	.header__logo
		float: left
		vertical-align: middle
		text-indent: -9999px
		+s(logo)
		@media screen and (max-width: $break-mobile)
			float: none
			margin: auto
	.header__phone
		position: absolute
		top: 27px
		left: 202px

		@media screen and (max-width: $break-medium)
			left: 163px
		@media screen and (max-width: $break-mobile)
			position: static
			float: left
			margin-top: 7px
		p
			font-size: 1.5em
	.header__search
		position: absolute
		top: 30px
		right: 214px
		@media screen and (max-width: $break-medium)
			right: 160px
		@media screen and (max-width: $break-mobile)
			position: static
			margin: 35px auto 25px
		input[type='text']
			display: block
			float: left
			width: 300px
			padding-left: 10px
			margin: 5px 0

			font-size: 1.333em
			line-height: 1

			color: #666
			font-family: "HelveticaNeueLight"

			@media screen and (max-width: $break-medium)
				width: 235px
		input[type='submit']
			display: block
			float: right
			margin: 5px 4px 5px 0
			padding: 0
			+s(search)
			&:active
				padding: 0
				margin: 5px 4px 5px 0
				border: 0
	.search
		width: 328px
		height: 29px
		border: 1px solid #959595

		@media screen and (max-width: $break-medium)
			width: 260px
		@media screen and (max-width: $break-mobile)
			width: 305px
			margin: auto
	.header__cart
		float: right
		text-align: right
		.cart-icon
			display: inline-block
			margin-left: 5px
			+s(cart)
		a
			font-size: 1.833em
			line-height: 0.9em
			color: #a5509e
.nav
	background: #a5509e
	@media screen and (max-width: $break-mobile)
		background: #fff
	ul.container
		margin: auto
		padding: 0 38px

		background: #a5509e

		+clr
		@media screen and (max-width: $break-medium)
			padding: 0
		@media screen and (max-width: $break-mobile)
			background: #fff
	.nav__item
		position: relative
		display: block
		float: left

		background: #a5509e

		text-align: center
		&:hover
			background: #fff
			a
				color: black
		&:hover .subnav
			display: block
		@media screen and (max-width: $break-mobile)
			width: 100% !important
			margin-top: 7px
		.nav__item--link
			transition: 0.1s ease all
			display: block
			text-decoration: none
			font-size: 1.25em
			color: #fff
			line-height: 41px
			&:hover
				color: black
				background: #fff
	.nav__new
		width: 120px
		@media screen and (max-width: $break-medium)
			width: 102px
	.nav__woman
		width: 157px
		@media screen and (max-width: $break-medium)
			width: 134px
	.nav__kids
		width: 95px
		@media screen and (max-width: $break-medium)
			width: 81px
	.nav__big
		width: 216px
		@media screen and (max-width: $break-medium)
			width: 184px
	.nav__discount
		width: 150px
		@media screen and (max-width: $break-medium)
			width: 128px
	.nav__blog
		width: 162px
		@media screen and (max-width: $break-medium)
			width: 139px

.subnav
	display: none
	position: absolute
	z-index: 999
	width: 900px
	padding: 45px

	text-align: left

	background: #fff

	+box-shadow(0 4px 8px rgba(0,0,0,0.3))

	+clr
	@media screen and (max-width: $break-medium)
		width: 768px
	@media screen and (max-width: $break-mobile)
		width: 100%
		padding: 15px
	.subnav__left
		float: left
		width: 260px
		@media screen and (max-width: $break-medium)
			width: 28.88888888%
		@media screen and (max-width: $break-mobile)
			width: 100%
			float: none
	.subnav__categories
		margin-bottom: 25px
		font-size: 1em
	.subnav__category, .subnav__subcategory
		color: #000
		text-decoration: none
		line-height: 1.4
		&:hover
			text-decoration: underline
	.subnav__subcategories
		margin-left: 10px
	.subnav__right
		float: right
		width: 480px
		margin-left: 60px

		+clr
		@media screen and (max-width: $break-medium)
			width: 53.3333333%
			margin-left: 0
		@media screen and (max-width: $break-mobile)
			width: 100%
			float: none
	.subnav__left--atright
		float: left
		width: 240px
		@media screen and (max-width: $break-medium)
			width: 100%
		@media screen and (max-width: $break-mobile)
			float: none
	.subnav__right--atright
		float: right
		width: 187px
		margin-left: 50px
		@media screen and (max-width: $break-medium)
			display: none
.subnav__woman
	left: -120px
	@media screen and (max-width: $break-medium)
		left: -102px
	@media screen and (max-width: $break-mobile)
		left: 0
.subnav__kids
	left: -278px
	@media screen and (max-width: $break-medium)
		left: -236px
	@media screen and (max-width: $break-mobile)
		left: 0
.subnav__big
	left: -317px
	@media screen and (max-width: $break-mobile)
		left: 0
.subnav__discount
	left: -501px
	@media screen and (max-width: $break-mobile)
		left: 0
.subnav__blog
	left: -629px
	@media screen and (max-width: $break-mobile)
		left: 0
.info
	height: 60px

	background: #faf8f5

	font-size: 0.875em

	+clr
	.container
		position: relative
		padding: 10px 53px

		background: #faf8f5
		@media screen and (max-width: $break-medium)
			padding: 10px 15px
	.info__left
		float: left
		min-width: 250px
	.info__time
		color: #999
		.last
			+clr
	.icon-time
		float: left
		margin-right: 15px
		+s(time)
	.info__right
		float: right
	.info__warranty
		position: absolute
		right: 98px
		@media screen and (max-width: $break-medium)
			right: 15px
		a
			position: relative
			&:before
				content: ''
				position: absolute
				left: -48px
				display: inline-block
				+s(warranty)
	.info__fitting
		position: absolute
		right: 268px
		@media screen and (max-width: $break-medium)
			right: 135px
		a
			position: relative
			&:before
				content: ''
				position: absolute
				left: -63px
				display: inline-block
				+s(fitting)
	.info__delivery
		position: absolute
		right: 490px
		@media screen and (max-width: $break-medium)
			right: 320px
		a
			position: relative
			&:before
				content: ''
				position: absolute
				left: -59px
				display: inline-block
				+s(delivery)
.slider
	background: #f7f0f8
	@media screen and (max-width: $break-mobile)
		padding: 10px 0
	.btn-prev
		position: absolute
		left: -23px
		bottom: 182px
		+s(prev)
		@media screen and (max-width: $break-mobile)
			bottom: 130px
	.btn-next
		position: absolute
		right: -23px
		bottom: 182px
		+s(next)
		@media screen and (max-width: $break-mobile)
			bottom: 130px
.slider
	.container
		position: relative
		width: 930px
		@media screen and (max-width: $break-medium)
			width: 722px
		@media screen and (max-width: $break-mobile)
			width: 314px
	.owl-pagination
		position: absolute
		bottom: 20px
		left: 46%
		@media screen and (max-width: $break-mobile)
			bottom: 10px
	.owl-page
		float: left
		+s(pagination)
		&.active
			+s(pagination-active)
.slide-clickable
	cursor: pointer
.slide
	display: block
	position: relative
	height: 400px
	width: 900px
	margin: auto
	background: url(../img/slide2.jpg) no-repeat center
	@media screen and (max-width: $break-medium)
		width: 700px
	@media screen and (max-width: $break-mobile)
		width: 300px
		height: 300px
		background-size: cover
		background-position: center
	.slide__btn
		position: absolute
		bottom: 80px
		left: 8%

		display: block
		width: 181px

		font-size: 1.313em
		line-height: 1.762em

		color: #fff
		text:
			align: center
			decoration: none

		background: #a5509e

		&:hover
			background: #8bc638
		@media screen and (max-width: $break-mobile)
			bottom: 45px
			left: 25%
	.slide__text	
		position: absolute
		bottom: 180px
		left: 8%
		@media screen and (max-width: $break-mobile)
			bottom: 105px
			text-align: center
			left: 18%
	.slide__title
		font:
			size: 1.5em
			family: "HelveticaNeueLight"
			weight: lighter
	.slide__description
		margin-top: 20px
.top-models
	padding: 46px 0 60px
	background: #ede9e4
	.container
		position: relative
		width: 930px
		padding: 0 15px
		@media screen and (max-width: $break-medium)
			width: 768px
	.btn-prev
		position: absolute
		left: -38px
		bottom: 196px
		+s(prev)

		@media screen and (max-width: $break-medium)
			display: none
	.btn-next
		position: absolute
		right: -38px
		bottom: 196px
		+s(next)
		@media screen and (max-width: $break-medium)
			display: none
.top-models__line
	position: relative

	width: 590px
	height: 0
	margin: 0 auto 45px

	border-bottom: 1px solid #000
.top-models__heading
	position: absolute
	top: -0.6em
	left: 146px

	font:
		family: "HelveticaNeueThin"
		size: 1.875em
		weight: lighter

	background: #ede9e4

	padding: 0 15px
.top-model
	.top-model__heading
		margin-top: 15px
		font:
			weight: lighter
			size: 0.875em
		a
			color: inherit
			text-decoration: none
	.top-model__price--new
		margin-top: 15px

		font-size: 1.25em
	.top-model__price--old
		margin-top: 5px

		font-size: 1.25em
		color: #808080
	.line-through
		text-decoration: line-through
.top-models--tablet
	padding: 46px 0 60px
	background: #ede9e4
	
	+clr
	.top-model
		float: left
		margin-left: 15px
	&:first-child
		margin-left: 0
.top-models--mobile
	padding: 46px 0 60px
	background: #ede9e4
	
	+clr
	.top-models__title
		font-weight: lighter
		margin: auto
	.top-model
		float: left
		margin-left: 10px
	&:first-child
		margin-left: 0
.blog
	padding-top: 45px
	background: #fff
	.container
		width: 930px
		padding: 15px
	.column
		float: left
	.block
		+clr
	.btn-prev
		position: absolute
		left: -38px
		bottom: 100px
		+s(prev)
	.btn-next
		position: absolute
		right: -38px
		bottom: 100px
		+s(next)
.blog__line
	position: relative

	width: 493px
	height: 0
	margin: 0 auto 45px

	border-bottom: 1px solid #000
.blog__heading
	position: absolute
	top: -0.6em
	left: 146px

	font:
		family: "HelveticaNeueThin"
		size: 1.875em
		weight: lighter

	background: #fff

	padding: 0 15px
.blog--tablet
	padding-top: 45px
	background: #fff
	.container
		padding: 0 15px
	.post
		width: 100%
.post
	width: 450px
	margin-top: 30px
	.post__thumb
		float: left
		margin-right: 30px
	.post__heading
		font:
			size: 1.125em
			weight: lighter
	.post__desc
		margin-top: 5px
		font:
			size: 0.813em
			family: "HelveticaNeueRoman"
		+clr
.superprice
	margin: 105px 0 45px
	background: #fff
	.superprice__line
		position: relative

		width: 474px
		height: 0
		margin: 0 auto 45px

		border-bottom: 1px solid #000
	.superprice__heading
		position: absolute
		top: -0.6em
		left: 146px

		font:
			family: "HelveticaNeueThin"
			size: 1.875em
			weight: lighter

		background: #fff

		padding: 0 15px
.testimonials
	padding: 45px 0 60px
	background: #ede9e4
	.testimonials__line
		position: relative

		width: 644px
		height: 0
		margin: 0 auto 45px

		border-bottom: 1px solid #000
	.testimonials__heading
		position: absolute
		top: -0.6em
		left: 146px

		font:
			family: "HelveticaNeueThin"
			size: 1.875em
			weight: lighter

		background: #ede9e4

		padding: 0 15px
	.container
		width: 930px
		padding: 0 15px
		+clr
		@media screen and (max-width: $break-medium)
			width: 768px
	.testimonials__block
		position: relative
		width: 435px
		height: 180px

		margin-left: 30px
		padding: 28px 30px

		float: left

		background: #fff
		&:first-child
			margin-left: 0
		@media screen and (max-width: $break-medium)
			width: 350px
			height: 200px
	.testimonials__heading--inside
		margin-bottom: 15px
		font:
			family: "HelveticaNeueRoman"
			size: 1.125em
			weight: lighter
	.testimonials__text
		font:
			family: "HelveticaNeueRoman"
			size: 0.813em
	.testimonials__more
		position: absolute
		bottom: 28px
		left: 30px

		font-size: 0.875em
	.btn-prev
		position: absolute
		top: 38px
		left: -14px
		+s(prev-small)
		@media screen and (max-width: $break-medium)
			display: none
	.btn-next
		position: absolute
		top: 38px
		right: -14px
		+s(next-small)
		@media screen and (max-width: $break-medium)
			display: none
	#slider5 .testimonials__more
		position: static
		display: block
		margin-top: 15px
.description
	padding: 44px 0 60px

	background: #fff
	.description__line
		position: relative

		width: 699px
		height: 0
		margin: 0 auto 45px

		border-bottom: 1px solid #000
	.description__heading
		position: absolute
		top: -0.6em
		left: 146px

		font:
			family: "HelveticaNeueThin"
			size: 1.875em
			weight: lighter

		background: #fff

		padding: 0 15px
	.container
		padding: 0 38px
		@media screen and (max-width: $break-medium)
			padding: 0 15px
	.description-paragraph
		margin-top: 15px
		
		font-size: 0.75em

		color: #808080
		&:first-child
			margin-top: 0
.footer--mobile
	padding: 58px 15px 30px

	background: #ede9e4
	.footer__nav
		margin-bottom: 30px
		+clr
	.footer__widget
		float: left

		font-size: 0.875em
		li
			margin-top: 10px
			&:first-child
				margin-top: 0
		a
			color: #000
			text-decoration: none
			&:hover
				text-decoration: underline
		@media screen and (max-width: $break-medium)
			width: 150px
	.footer__social
		margin-bottom: 24px
		+clr
		a
			display: block
			float: left
			&:first-child
				margin-left: 0
			@media screen and (max-width: $break-medium)
				margin-left: 10px
	.footer__contact
		margin: 10px 0 15px
		line-height: 1.4
		font-size: 0.75em
		+clr
	.footer__contact--digital
		margin-bottom: 15px
		width: 150px

		a
			color: #000
			text-decoration: none
	.footer__copyright
		margin-bottom: 50px
		font-size: 0.75em
.footer
	padding: 58px 0 30px

	background: #ede9e4
	.footer__left
		float: left
		width: 650px
		padding-left: 39px
		@media screen and (max-width: $break-medium)
			padding-left: 15px
			width: 470px
	.footer__right
		float: right
		width: 314px
		padding-right: 38px
		@media screen and (max-width: $break-medium)
			padding-right: 15px
			width: 255px
	.container
		+clr
	.footer__nav
		margin-bottom: 30px
		+clr
	.footer__widget
		width: 167px
		float: left

		font-size: 0.875em
		li
			margin-top: 10px
			&:first-child
				margin-top: 0
		a
			color: #000
			text-decoration: none
			&:hover
				text-decoration: underline
		@media screen and (max-width: $break-medium)
			width: 150px
	.footer__contact
		margin-bottom: 15px
		line-height: 1.4
		font-size: 0.75em
		+clr
	.footer__contact--digital
		float: left
		width: 150px

		a
			color: #000
			text-decoration: none
	.footer__contact--address
		float: left
	.footer__copyright
		margin-bottom: 60px
		font-size: 0.75em
	.footer__achievements
		+clr
	.footer__social
		margin-bottom: 24px
		+clr
		a
			display: block
			float: left
			margin-left: 12px
			&:first-child
				margin-left: 0
			@media screen and (max-width: $break-medium)
				margin-left: 10px
	.footer__link
		margin-bottom: 40px

		font-size: 0.75em
	.footer__payment
		margin-bottom: 15px
		.footer__payment-heading
			margin-bottom: 12px
			font:
				size: 0.75em
				weight: lighter
			color: #666
	.payment
		+clr
		.payment__method
			float: left
			margin-left: 15px
			&:first-child
				margin-left: 0
	.footer__security
		margin-bottom: 30px
		.footer__security-heading
			margin-bottom: 12px
			font:
				size: 0.75em
				weight: lighter
			color: #666
	.security
		+clr
		.security__method
			float: left
			margin-left: 15px
			&:first-child
				margin-left: 0
	.footer__stats
		+clr
	.footer__counter
		float: left
		margin-left: 15px
		&:first-child
			margin-left: 0
	.footer__partners-heading
		margin: 60px 0 15px 38px
		font:
			size: 0.75em
			weight: lighter
		color: #666
	.footer__partners, .footer__partners--tablet
		position: relative
		padding: 0 38px
		.btn-next
			position: absolute
			top: 10px
			right: 0
			+s(next-footer)
		.btn-prev
			position: absolute
			top: 10px
			left: 0
			+s(prev-footer)
		.owl-item
			text-align: center
.achievement
	position: relative
	float: left
	width: 200px

	+clr
	.achievement__img
		float: left
		min-width: 50px
		margin-right: 10px

		text-align: center
	.achievement__description
		position: absolute
		left: 60px
		bottom: 0
	.achievement__status
		color: #808080
		margin-bottom: 5px
		font-size: 0.625em
	.achievement__name
		font-size: 0.75em
.subscribe
	margin-bottom: 15px
	.subscribe__input
		width: 100%
		height: 32px
		padding: 7px 10px
		margin-bottom: 7px

		font-size: 1em
		line-height: 1
		border: 1px solid #959595
		color: #808080
		&:focus
			border: 3px solid #a5509e
		@media screen and (max-width: $break-mobile)
			width: 275px
	.subscribe__submit
		width: 100%

		@media screen and (max-width: $break-mobile)
			width: 275px
.input--success
	border: 3px solid #c6f240 !important
	background: url(../img/success.png) no-repeat
	background-position: 97% 50%
.input--fail
	border: 3px solid #ed1c24 !important
	background: url(../img/fail.png) no-repeat
	background-position: 97% 50%
.icon-od
	+s(od)
	@media screen and (max-width: $break-medium)
		+s(od-tablet)
.icon-vk
	+s(vk)
	@media screen and (max-width: $break-medium)
		+s(vk-tablet)
.icon-fb
	+s(fb)
	@media screen and (max-width: $break-medium)
		+s(fb-tablet)
.icon-g
	+s(g)
	@media screen and (max-width: $break-medium)
		+s(g-tablet)
.icon-tw
	+s(tw)
	@media screen and (max-width: $break-medium)
		+s(tw-tablet)
.icon-lj
	+s(lj)
	@media screen and (max-width: $break-medium)
		+s(lj-tablet)
#goTop
	position: fixed
	right: 42px
	bottom: 10%
	
	cursor: pointer

	+s(top)
	@media screen and (max-width: $break-medium)
		display: none !important
.btn
	padding: 0 30px
	line-height: 36px

	font:
		size: 1.25em
		family: "HelveticaNeueThin"
	color: #fff

	background: #a5509e
	&:hover
		background: #8bc638
@import modals